*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --primaryColor: #1696BE;
  --secondaryColor: #166ABE;
  font-family: Righteous, 'Raleway', sans-serif;
}

/*body {
}
*/
button {
  font-family: Righteous;
  font-size: 2vh;
  padding: 1.5vh 3vh;
  border: 0px;
  border-radius: 18px;
  background-color: var(--primaryColor);
  color: white;
  transition: all .5s;
}

button:hover {
  transform: scale(1.2);
  transition-duration: .5s;
  transition-timing-function: linear;
  background-color: var( --secondaryColor);
}

body {
  margin: 30vh auto;
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: column;
  /*justify-content:center;*/
  align-items: center;
  gap: 8vh;
}

#submit {
  display: block;
}

#hidden {
  display: none;
}

.btnContainer {
  display: flex;
  gap: 3vw;
}

